body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: burlywood;
}
h1 {
    position: top 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    color: black;
}
header{
    background-color: black;
    color: (srgb rgb(184, 169, 169) green blue);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img {
    height: 5cm;width: 6cm;display: flex;flex-direction: row;
}
/* footer stylling*/
.site-footer {
  background-color: #0b2e13;
  padding: 20px;
  text-align: center;
}

.site-footer p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  background: linear-gradient(90deg, #00c853, #64dd17);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.github-link {
  margin-left: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #a5d6a7;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;
}

.github-link:hover {
  color: #c8e6c9;
  border-bottom: 1px solid #81c784;
}

